@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<center>
    <div class="row" style="height: 45%; width: 30%;">
        <div class="col-md">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label style="font-size: 18px;" asp-for="Input.Username"></label>
                        <input style="border-radius: 3px; font-size: 17px;" asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 18px;" asp-for="Input.Password"></label>
                        <input style="border-radius: 3px; font-size: 17px;" asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="font-size: 12px;" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" style="font-size: 15px;"><h4>Forgot your password?</h4></a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="font-size: 15px;"><h4>Register as a new user</h4></a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</center>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
